extends ./commons/layout.pug


block header
block content
    include ./commons/header.pug
    include ./commons/navmenu.pug
    .content
        .siderbar
          include ./commons/content-left-navBtn.pug
          include ./commons/content-left.pug
        .siderSet.adice-con
          include ./commons/content-right-advice.pug
          include ./commons/pagination.pug
block footer
