extends ./commons/layout.pug


block header
block content
    include ./commons/header.pug
    include ./commons/navmenu.pug
    .content
        .siderbar
          ul.sidebar__inner
                include ./commons/left/arrow.pug
                include ./commons/left/arrowList.pug
                include ./commons/left/arrow.pug
                include ./commons/left/list.pug
                include ./commons/left/list.pug
                include ./commons/left/list.pug
        .siderSet
          include ./commons/content-right-checkUp.pug     
block footer
