extends ./commons/layout.pug


block header
block content
    include ./commons/header.pug
    include ./commons/navmenu.pug
    .content
        .siderbar
          include ./commons/content-left.pug
        .siderSet
          include ./commons/content-right-checkUp.pug     
block footer
