extends ./commons/layout.pug
block header
block content
    include ./commons/header.pug
    include ./commons/navmenu.pug
    .content
        .siderbar.diagnose
          include ./commons/content-left-navBtn.pug
          include ./commons/content-left.pug
        include ./commons/content-right-diagnoseOut.pug
block footer
