extends ./commons/layout.pug


block header
block content
    include ./commons/header.pug
    include ./commons/navmenu.pug
    .content
        .siderbar
          ul.sidebar__inner
            include ./commons/left/list.pug
            include ./commons/left/list.pug
            include ./commons/left/listActive.pug
            include ./commons/left/list.pug
            include ./commons/left/list.pug
            include ./commons/left/list.pug
            include ./commons/left/list.pug
        include ./commons/content-right-outpatient.pug     
block footer
