extends ./commons/layout.pug


block header
block content
    include ./commons/header.pug
    include ./commons/navmenu.pug
    .content
        .siderbar
          include ./commons/content-left.pug
        include ./commons/content-right-surgery.pug     
block footer
