extends ./commons/layout.pug


block header
        <base href="/">
        <link href="./swiper/css/swiper.min.css" type="text/css">   
block content
        include ./commons/header.pug
        include ./commons/navmenu.pug
        include ./commons/timeAxis.pug
block footer
