li.sidebar-item.active
    .sidebar-item_con
      div
        img(src="../img/icon_zhuyuan.png", alt="住", srcset="" class="liveLogo")
        span 产科病区
      p 2015-03-15
    .sider-arrow.sider-arrow-active
ul.sidebar-item__anchors
  li.sidebar-item__anchor.anchor-active
      span 03-14
      span.course 入院通知
      img(src="../img/icon_doublearrow.png", alt="doublearrow", srcset="")
  li.sidebar-item__anchor
     span 03-14
     span.course 入院通知
     img(src="../img/icon_doublearrow.png", alt="doublearrow", srcset="")
  li.sidebar-item__anchor
     span 03-14
     span.course 入院通知
     img(src="../img/icon_doublearrow.png", alt="doublearrow", srcset="")
  li.sidebar-item__anchor
     span 03-14
     span.course 入院通知
     img(src="../img/icon_doublearrow.png", alt="doublearrow", srcset="")
  li.sidebar-item__anchor
     span 03-14
     span.course 入院通知
     img(src="../img/icon_doublearrow.png", alt="doublearrow", srcset="")