.page-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 760px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 40px 30px;
  overflow: scroll;
  h1 {
    font-weight: 600;
    font-size: 18px;
    color: #061A30;
    line-height: 20px;
    padding-bottom: 20px;
  }
  h2 {
    font-weight: 600;
    font-size: 14px;
    color: #060000;
  }

  p {
    font-size: 14px;
    color: #060000;
    line-height: 20px;
    align-self: flex-start;
    b{
      font-weight: 600;
    }
  }
  .draw{
    text-indent:2em;
  }
}