.inspection-header{
  .btg{
    text-align: center;
    font-size: 14px;
    background-color: #e9faff;
  }
  .con{
    font-size: 14px;
    text-align: left;
  }
  td{
    vertical-align: middle;
    border: 1px solid #ccc;
  }
}

