.inspection-header{
  padding: 20px 0;
  font-size: 14px;
  color: #061A30;
  .btg{
    text-align: center;
    background: #F6F6F6;
  }
  .con{
    text-align: left;
    background: #FFFFFF;
    padding-left: 20px;
  }
  td{
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }
}

