.siderbar-btm{
  width: 100%;
  height: 40px;
  ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    li{
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #FFFFFF;
      background: #003573;
    }
    .active{
      background-color: #fff;
      color: #061A30;
    }
  }
}
.sidebar__inner{
  padding-bottom: 50px;
}