.siderbar{
  width: 180px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.10);
  position: relative;
  .sidebar__inner{
    position: sticky;
    top: -1px;
    overflow: scroll;
    max-height: 100vh;
    .sidebar-item{
      position: relative;
      display: flex;
      font-size: 15px;
      padding: 0.6em 0;
      border-bottom: 1px solid #e6e6e6;
      transition: background .6s;
      &:last-child{
        border-bottom: none;
      }
      .sidebar-item_con {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        div{
          display: flex;
          .liveLogo{
            height: 20px;
            width: 20px;
          }
          span{
            padding-left: 10px;
            font-size: 14px;
            color: #061A30;
          }
        }
        p{
          padding-left: 30px;
          font-size: 12px;
          color: #7C8CA0;
        }
        max-width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .sidebar-item__anchors{
        position: relative;
        // display: none;
        flex: 0 0 100%;
        flex-wrap: wrap;
        margin: 0.35em 0;
        padding-left: 1.5em;
        overflow: hidden;
        list-style: none;
        line-height: 19px;
        .sidebar-item__anchor{
          position: relative;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          margin: 0.25em 0;
          padding-left: 1em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:first-child{
            margin-top: 0;
          }
        }
      }
    }
    .active{
      background: #5882EE;
      box-shadow: inset 0 0 0 0 rgba(0,0,0,0.20);
      .sidebar-item_con {
        div{
          span{
            color: #fff;
          }
        }
        p{
          color: #fff;
        }
      }
    }
  }
}