.check-up {
  padding: 20px 0;
  margin-right: 20px;
  font-size: 14px;
  color: #061A30;
  .btg{
    text-align: center;
    background: #F6F6F6;
  }
  .con-img{
    width: 179px;
    position: relative;
    .back{
      position: absolute;
      width: 179px;
      height: 80px;
      background: rgba(0,0,0,0.50);
      z-index: 4;
      top: 0;
      left: 0;
    }
    span{
      position: absolute;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      width: 80px;
      height: 32px;
      color: #fff;
      left: calc(50% - 40px);
      top: calc(50% - 16px);
      z-index: 8;
      text-align: center;
      line-height: 32px;
      cursor: default;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  td{
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }
  .con{
    text-align: left;
    padding-left: 20px;
  }
  .check-up-arg{
    margin-top:20px;
  }
}
