.header{
  min-width: 1280px;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  .header-left{
    flex-direction: row;
    display: flex;
    .header-logo{
      width: 180px;
      height: 40px;
    }
  }
  .header-right{
    flex-direction: row;
    display: flex;
    .header-input{
      width: 300px;
      height: 32px;
      appearance: none;
      background: #F6F6F6;
      border: 0 solid #7C8CA0;
      border-radius: 2px;
      background-image: none;
      color: #1f2d3d;
      font-size: 14px;
      color: #C0C5CA;
      transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      padding-left: 10px;
    }
    .header-button{
      background: #5882EE;
      border-radius: 2px;
      width: 72px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #FFFFFF;
      margin: 0 113px 0 6px;
    }
    p{
      font-size: 14px;
      color: #061A30;
      align-self: center;
    }
  }
}