.surgery
  table(width="100%" border="1" cellspacing="1" cellpadding="4")
      tr
        td(class="btg") 手术序号
        td(class="btg") 手术操作名称
        td(class="btg") 切口等级
        td(class="btg") 切口愈合情况
        td(class="btg") 手术日期
        td(class="btg") 麻醉方式
        td(class="btg") 手术医师
      tr(align="center")
        td(class="btgn") 1
        td(class="btgn") 羊水穿刺术
        td(class="btgn") 
        td(class="btgn") 
        td(class="btgn") 2015-09-22 09:20:00
        td(class="btgn") 
        td(class="btgn") 张彦
      tr(align="center")
        td(class="btgn") 1
        td(class="btgn") 羊水穿刺术
        td(class="btgn") 
        td(class="btgn") 
        td(class="btgn") 2015-09-22 09:20:00
        td(class="btgn") 
        td(class="btgn") 张彦