.outpatient
  table(width="100%" border="1" cellspacing="1" cellpadding="4")
      tr
        td(class="btg") 处方号
        td(class="btg") 处方类型
        td(class="btg") 药名
        td(class="btg") 规格
        td(class="btg") 厂家
        td(class="btg") 数量
        td(class="btg") 单位
        td(class="btg") 剂数
        td(class="btg") 途径
        td(class="btg") 频次

      tr(align="center")
        td(class="btgn") 1
        td(class="btgn") 医保
        td(class="btgn") 头孢
        td(class="btgn") 250mg*6
        td(class="btgn") 苏州礼来
        td(class="btgn") 6
        td(class="btgn") 盒
        td(class="btgn") 2
        td(class="btgn") 口服
        td(class="btgn") 3/日