.check-up
  table(border="1" cellspacing="1" cellpadding="4")
    tr
      td(class="btg") 检验类型
      td(class="con") 超声
      td(class="btg") 申请医生
      td(class="con") 卢彦平
      td(class="btg") 申请单号
      td(class="con") 2019-03-13 16:43:42
      td(class="" rowspan="2") 
         img(src="../img/Dy.png", alt="", srcset="")
    tr
      td(class="btg") 检查项目
      td(class="con") 超声心动图检查
      td(class="btg") 报告医生
      td(class="con") 何艳
      td(class="btg") 检查时间
      td(class="con") 2019-03-13 16:43:42
  table(border="1" cellspacing="1" cellpadding="4" class="check-up-arg")
    tr
      td(class="btg") 检查参数
      td(class="con") 超声
    tr
      td(class="btg") 检查所见
      td(class="con") 
         p 超声心动图检查
         p 超声心动图检查
         p 超声心动图检查
         p 超声心动图检查
         p 超声心动图检查
         p 超声心动图检查
    tr
      td(class="btg") 印象
      td(class="con") 左室舒张功能轻度减低
    tr
      td(class="btg") 建议
      td(class="con") 

