.inspection-header
  table(width="100%")
    tr
      td(class="btg") 检验主题
      td(class="con") 尿液常规
      td(class="btg") 检验科室
      td(class="con") 临床检验科
      td(class="btg") 申请日期
      td(class="con") 2019-03-13 16:43:42
    tr
      td(class="btg") 标本
      td(class="con") 尿
      td(class="btg") 检验状态
      td(class="con") 确认报告
      td(class="btg") 报告日期
      td(class="con") 2019-03-13 16:43:42
    tr
      td(class="btg") 标本说明
      td(class="con") 1
      td(class="btg") 申请医生
      td(class="con") 1
      td(class="btg") 
      td(class="con") 