table(width="100%" border="1" cellspacing="1" cellpadding="4")
    tr
      td(class="btg") 诊断类别
      td(class="btg") 诊断序号
      td(class="btg") 诊断
      td(class="btg") 诊断日期
      td(class="btg") 治疗天数
      td(class="btg") 治疗结果
    tr(align="center")
      td(class="btgn") 门诊诊断
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr(align="center")
      td(class="btgn" rowspan="4") 入院初诊
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 主要诊断
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr(align="center")
      td(class="btgn" rowspan="4") 其他诊断
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
    tr
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意
      td(class="btgn") 同意