.outpatient
  table(width="100%")
    thead
      tr
        th  处方号
        th  处方类型
        th  药名
        th  规格
        th  厂家
        th  数量
        th  单位
        th  剂数
        th 途径
        th  频次
    tbody
      tr
        td  1
        td  医保
        td  头孢
        td  250mg*6
        td  苏州礼来
        td  6
        td  盒
        td  2
        td  口服
        td  3/日