table(width="100%" border="1" cellspacing="1" cellpadding="4" class="out-table")
    tr
      td(class="btgn") 主诉
      td 同意
    tr
      td(class="btgn") 既往史
      td 同意
    tr
      td(class="btgn") 家族史
      td 同意
    tr
      td(class="btgn") 过敏史
      td 同意
    tr
      td(class="btgn") 月经史
      td 同意
    tr
      td(class="btgn") 现病史
      td 同意
    tr
      td(class="btgn") 体检
      td 同意
    tr
      td(class="btgn") 诊断
      td 同
    tr
      td(class="btgn") 建议
      td 同意