.surgery
  table(width="100%")
    thead
      tr
        th 手术序号
        th 手术操作名称
        th 切口等级
        th 切口愈合情况
        th 手术日期
        th 麻醉方式
        th 手术医师
    tbody
      tr
        td 1
        td 羊水穿刺术
        td 
        td 
        td 2015-09-22 09:20:00
        td 
        td 张彦
      tr
        td 1
        td 羊水穿刺术
        td 
        td 
        td 2015-09-22 09:20:00
        td 
        td 张彦