.inspenction-con
  table(width="100%" border="1" cellspacing="1" cellpadding="4")
    tr
      td(class="btg") 报告项目
      td(class="btg") 结果
      td(class="btg") 单位
      td(class="btg") 异常
      td(class="btg") 正常参考值
      td(class="btg") 趋势图
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn")
        img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn")
        img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn") 
         img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn")
        img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn")
         img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn") 
         img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn")
         img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn") 
        img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn")
        img(src="../img/Dy.png", alt="趋势", srcset="")
    tr(align="center")
      td(class="btgn") 尿液管型(镜检)
      td(class="btgn") 阴性
      td(class="btgn") /LPF
      td(class="btgn") N
      td(class="btgn") 0~1/LPF
      td(class="btgn") 
        img(src="../img/Dy.png", alt="趋势", srcset="")