table(width="100%")
  thead
    tr
      th 长/临
      th 类别
      th 开始时间
      th 医嘱时间
      th 剂量
      th 单位
      th 途径
      th 频次
      th 执行时间
      th 停止时间
  tbody
    tr
      td(class="btgn" rowspan="6") 临时
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 药疗
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 药疗
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 药疗
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td(class="btgn" rowspan="9") 长期
      td 护理
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 膳食
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 药疗
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td(class="btgn" rowspan="9") 临时
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 处置
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    tr
      td 检验
      td 2019-09-09 12:09:09
      td 胎心监护
      td 1
      td 1
      td 1
      td 1
      td 13:00
      td 2019-10-09 12:09:09
    