table(width="100%")
  thead
    tr
      th 诊断类别
      th 诊断序号
      th 诊断
      th 诊断日期
      th 治疗天数
      th 治疗结果
  tbody
    tr
      td 门诊诊断
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td(class="btgn" rowspan="4") 入院初诊
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 主要诊断
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td(class="btgn" rowspan="4") 其他诊断
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意
    tr
      td 同意
      td 同意
      td 同意
      td 同意
      td 同意