.sidebar__inner
  .sidebar-item
      .sidebar-item_con
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
      ul(class="sidebar-item__anchors")
          li(class="sidebar-item__anchor" title="Files")
            a(href="/") Files
          li(class="sidebar-item__anchor" title="Files")
            a(href="/") Files
          li(class="sidebar-item__anchor" title="Files")
            a(href="/") Files
          li(class="sidebar-item__anchor" title="Files")
            a(href="/") Files
          li(class="sidebar-item__anchor" title="Files")
            a(href="/") Files
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
  .sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          i.liveLogo 住
          span 产科病区
        p 2015-03-15至2016-03-05
        