section.page
   .page-text
      h1 第三次住院记录
      p 李娇，女，30岁,汉族,北京市人,工作单位:富盛科技股份有限公司，已婚。于2019-3-4 18:12入院，当日采集病史，患者本人陈述病史,可靠。
      p <b> 主诉:</b>言内孕37+3周,血压升高1月余。
      p <b> 现病史:</b>孕2次末次月经 : 2018年6月22日
      p &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;产0次 预产期: 2019年3月22日(推算后)
      p.draw  平素月经规律, 5/30天,未次月经2018-05-04。停经40天查尿妊娠试验阳性,无明显早孕反应。停经2月出现阴道少星出血,末予处理后自行血止。孕期规律增补叶酸。停经12+ 5周我院超声提示NT:0.197cm ,超声孕周: 阴道少星出血,末予处理后自行血止。孕期规律增补叶酸。停经12+ 5周我院超声提示NT:0.197cm ,超声孕周: 
        | 核型未见异常。孕21+5周我院行排畸超声未见明显异常。孕6月自觉胎动,活跃至今。孕25周我院行OGTT : 
      p <b> 既往史:</b>否认肝炎、结核、疟疾等传染病史,否认高血压、心脏病病史,否认糖尿病、脑血管疾病、精神疾病病
      p <b> 个人史:</b>否认肝炎、结核、疟疾等传染病史,否认高血压、心脏病病史,否认糖尿病、脑血管疾病、精神疾病病
      h2 产科检查
      p 宫高:33cm,腹围:104cm,胎心:140次/分,宫缩:无。
      h2 阴道检查: (宫颈评分3分)
      p 宫颈居后,质软,长2.5cm,宫口未开;先露不清,高浮,胎膜未破。
      h2 骨盆情况
      p 耻骨弓90度,尾骨动，骶骨弯,坐骨结节间径7.5cm ,对角径12cm。
      h2 化验及特殊检查
      h2 产科检查
      p 宫高:33cm,腹围:104cm,胎心:140次/分,宫缩:无。
      h2 阴道检查: (宫颈评分3分)
      p 宫颈居后,质软,长2.5cm,宫口未开;先露不清,高浮,胎膜未破。
      h2 骨盆情况
      p 耻骨弓90度,尾骨动，骶骨弯,坐骨结节间径7.5cm ,对角径12cm。
      h2 化验及特殊检查
      h2 产科检查
      p 宫高:33cm,腹围:104cm,胎心:140次/分,宫缩:无。
      h2 阴道检查: (宫颈评分3分)
      p 宫颈居后,质软,长2.5cm,宫口未开;先露不清,高浮,胎膜未破。
      h2 骨盆情况
      p 耻骨弓90度,尾骨动，骶骨弯,坐骨结节间径7.5cm ,对角径12cm。
      h2 化验及特殊检查
      h2 产科检查
      p 宫高:33cm,腹围:104cm,胎心:140次/分,宫缩:无。
      h2 阴道检查: (宫颈评分3分)
      p 宫颈居后,质软,长2.5cm,宫口未开;先露不清,高浮,胎膜未破。
      h2 骨盆情况
      p 耻骨弓90度,尾骨动，骶骨弯,坐骨结节间径7.5cm ,对角径12cm。
      h2 化验及特殊检查
      h2 产科检查
      p 宫高:33cm,腹围:104cm,胎心:140次/分,宫缩:无。
      h2 阴道检查: (宫颈评分3分)
      p 宫颈居后,质软,长2.5cm,宫口未开;先露不清,高浮,胎膜未破。
      h2 骨盆情况
      p 耻骨弓90度,尾骨动，骶骨弯,坐骨结节间径7.5cm ,对角径12cm。
      h2 化验及特殊检查
      h2 产科检查
      p 宫高:33cm,腹围:104cm,胎心:140次/分,宫缩:无。
      h2 阴道检查: (宫颈评分3分)
      p 宫颈居后,质软,长2.5cm,宫口未开;先露不清,高浮,胎膜未破。
      h2 骨盆情况
      p 耻骨弓90度,尾骨动，骶骨弯,坐骨结节间径7.5cm ,对角径12cm。
      h2 化验及特殊检查
