table(width="100%" border="1" cellspacing="1" cellpadding="4")
  tr
    td(class="btg") 长/临
    td(class="btg") 类别
    td(class="btg") 开始时间
    td(class="btg") 医嘱时间
    td(class="btg") 剂量
    td(class="btg") 单位
    td(class="btg") 途径
    td(class="btg") 频次
    td(class="btg") 执行时间
    td(class="btg") 停止时间
  tr(align="center")
    td(class="btgn" rowspan="6") 临时
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 药疗
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 药疗
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 药疗
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn" rowspan="9") 长期
    td(class="btgn") 护理
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 膳食
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 药疗
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn" rowspan="9") 临时
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 处置
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  tr(align="center")
    td(class="btgn") 检验
    td(class="btgn") 2019-09-09 12:09:09
    td(class="btgn") 胎心监护
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 1
    td(class="btgn") 13:00
    td(class="btgn") 2019-10-09 12:09:09
  