.inspenction-con
  table(width="100%")
    thead
      tr
        th 报告项目
        th 结果
        th 单位
        th 异常
        th 正常参考值
        th 趋势图
    tboicon_photo
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td 
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td 
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td 
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")
      tr
        td 尿液管型(镜检)
        td 阴性
        td /LPF
        td N
        td 0~1/LPF
        td 
          img(src="../img/icon_photo.png", alt="趋势", srcset="" class="popUp")