ul.sidebar__inner
  li.sidebar-item.active
      .sidebar-item_con
        div
          img(src="../img/icon_zhuyuan.png", alt="住", srcset="" class="liveLogo")
          span 产科病区
        p 2015-03-15
      //- ul(class="sidebar-item__anchors")
      //-     li(class="sidebar-item__anchor" title="Files")
      //-       a(href="#") Files
      //-     li(class="sidebar-item__anchor" title="Files")
      //-       a(href="#") Files
      //-     li(class="sidebar-item__anchor" title="Files")
      //-       a(href="#") Files
      //-     li(class="sidebar-item__anchor" title="Files")
      //-       a(href="#") Files
      //-     li(class="sidebar-item__anchor" title="Files")
      //-       a(href="#") Files
  li.sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          img(src="../img/icon_menzhen.png", alt="门", srcset="" class="liveLogo") 
          span 产科病区
        p 2015-03-15
  li.sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          img(src="../img/icon_menzhen.png", alt="门", srcset="" class="liveLogo") 
          span 产科病区
        p 2015-03-15
  li.sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          img(src="../img/icon_menzhen.png", alt="门", srcset="" class="liveLogo") 
          span 产科病区
        p 2015-03-15
  li.sidebar-item
      a(class='sidebar-item_con' href='/')
        div
          img(src="../img/icon_menzhen.png", alt="门", srcset="" class="liveLogo") 
          span 产科病区
        p 2015-03-15
  