header.header
    .header-left
        .header-logo
            img(src="../img/logo301.png", alt="301", srcset="")
        input(type="text" class="header-input" placeholder="请输入病人ID号")
        .header-button 提交
    .header-right
        .header-person
            img(src="../img/logo301.png", alt="性别", srcset="")
        p DC789/李娇/女/1988-06-12