.home
   table(border="1" cellspacing="1" cellpadding="4")
    thead
     tr
      th 就诊
      th 诊断
      th 用药
      th 血型鉴定
      th 检查
      th 治疗
      th 病例 
    tbody
      tr
        td 
          .left-live
             span 住
          .right
             p 2017-09-09
             p 李
             p 骨伤科病房
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
    tr
        td 
          .left-door
             span 门
          .right
             p 2017-09-09
             p 李
             p 骨伤科病房
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...
        td 
          p 取出内固定装置
          p 取出内固定装置取出内固定装置取出内固定装置取出内固定装置
          p 取出内固定装置
          .more ...