doctype html
html
    head
        title 解放军总医院
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewPort', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
        meta(name='renderer', content='webkit')
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name='keywords' content='解放军总医院, 301医院')
        block header
    body
        //- include commons/header
        block content

        //- include commons/sitegroup
        //- include commons/links
        //- include commons/footer
        //- include commons/ownersSettled
        block footer
        //- script(src='../../build/js/gallery/jquery/jquery.js')
        //- script(src='../../build/js/gallery/ga/analytics.js')